# Google OAuth
GOOGLE_CLIENT_ID=731815648196-0i12ig1acoqt3gj2tg4jlh1ge3p6nb79.apps.googleusercontent.com

# Django
SECRET_KEY=TU_SECRET_KEY_AQUI
DEBUG=True
DB_NAME=inventario_db
DB_USER=root
DB_PASSWORD=123456
DB_HOST=127.0.0.1
DB_PORT=3306

# Credenciales para la creación del usuario Administrador inicial (python manage.py init_db)
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@tu-dominio.com
ADMIN_PASSWORD=CambiarEstaClaveSegura123!

# Configuración de Correo Saliente (SMTP)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=brayanmoreno650@gmail.com
EMAIL_HOST_PASSWORD=tu_password_de_aplicacion
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=noreply@tu-dominio.com

#Hosts
ALLOWED_HOSTS=*

# Credenciales del Administrador Inicial
ADMIN_USERNAME=admin
ADMIN_EMAIL=tu-correo@cdaautomas.com.co
ADMIN_PASSWORD=S0p0rt3Aut02020
